{% extends "base.html" %}

{% block title %}소개{% endblock %}

{% block content %}
<div class="blog-container">
    <h2>사이트 소개</h2>
    
    <div class="full-content">
        <p>2020녀부터 개발시작해 2025년에 Early Access단계인 사이트다</p>
        
        <h3>개발로드맵</h3>
        <ul>
            <li>블로그 업로드</li>
            <li>이상한 시뮬레이션</li>
            <li>헛소리 이야기</li>
            <li>기타 하고 싶은거</li>
        </ul>
        
        <h3>와구센</h3>
        <p>HI, I am Gusen. 나다 구센임 </p>
        
        <h3>연락처</h3>
        <p>구센과 놀고 싶으면 3가지중 하나를 선택하시오</p>
        <p>이메일: gusen@wagusen.com</p>
        <p>GitHub: <a href="https://github.com/gusen1116" target="_blank">github.com/gusen1116</a></p>
    </div>
</div>
{% endblock %}